* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    position: relative;
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.board {
    height: 100vw;
    width: 100vw;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 3px;
    background-color: black;
    border: 3px solid black;
}

.cell {
    grid: 1 1 auto;
    width: 100%;
    height: 100%;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 40px;
}

.window {
    display: none;
    position: absolute;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(255, 255, 255, 0.9);
}

.window.active {
    display: block;
}

.window__body {
    color: black;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 200px;
    background-color: white;
    border: 3px solid black;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.window__button {
    cursor: pointer;
    padding: 5px 10px;
    border: 1px solid black;
    background-color: white;
}

.window__button:hover {
    background-color: black;
    color: white;
}

@media (min-aspect-ratio: 1/1) {
    .board {
        height: 100vh;
        width: 100vh;
    }
}

@media (max-width: 320px) {
    .cell {
        font-size: 32px;
    }
}

@media (max-width: 200px) {
    .cell {
        font-size: 16px;
    }
}